<div container="container-fluid pets">
<div class="row pets">
  <div class="col-md-4">Total pets booked</div>
  <div class="col-md-4">Total breeds</div>
  <div class="col-md-4-align-content-end">awaiting </div>
</div>
<strong>Pet overview</strong>
<app-bar-chart></app-bar-chart>
<div class="container pets">
<strong> Detailed Requirements </strong>
<div class="row pets">
  <div class="col-md-6 border-primary"><app-polar-chart></app-polar-chart></div>
  <div class="col-md-6"> Breed Types, minimum and maximum weight </div>
</div>
</div>
<strong>Pet Circle</strong>
<div class="container">
  <app-map></app-map>
</div>
</div>
