.top-bar {
    background-color: #e9e9e9;
    text-align: center;
    height: 50px;

}
.items{
    height: 30px;
    align-self: center;
    float: right;
}
/* search bar */
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 30px;
    font-size: 16px;
    align-self: center;
    background-color: white;
    border-radius: 50px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
  .search-class{
      align-self: center;
  }
